.div1.fly-birds-page_239d838245 {
  align-items: center;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 auto;
  overflow: hidden;
  width: 10rem;
  z-index: 1;
}
.div1.fly-birds-page_239d838245 .div2 {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 5.05469rem;
  justify-content: flex-start;
  width: 10rem;
}
.div1.fly-birds-page_239d838245 .div2 .image3 {
  height: 5.05469rem;
  width: 10rem;
  z-index: 0;
}
.div1.fly-birds-page_239d838245 .div2 .div4 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: -9.05469rem;
  margin-top: 0.02734rem;
  min-height: 0.78516rem;
  width: 3.46875rem;
  z-index: 1;
}
.div1.fly-birds-page_239d838245 .div2 .div4 .image5 {
  height: 0.28906rem;
  width: 3.46875rem;
}
.div1.fly-birds-page_239d838245 .div2 .div4 .div6 {
  color: #000;
  font-size: 0.14063rem;
  margin-top: 0.23438rem;
  text-align: center;
}
.div1.fly-birds-page_239d838245 .div7 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 4.57813rem;
  justify-content: flex-start;
  padding-right: 1.46875rem;
  width: 9.99219rem;
}
.div1.fly-birds-page_239d838245 .div7 .image8 {
  height: 4.57813rem;
  width: 9.99219rem;
  z-index: 0;
}
.div1.fly-birds-page_239d838245 .div7 .div9 {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: -4.90234rem;
  margin-top: -0.05859rem;
  min-height: 1.25391rem;
  width: 3.43359rem;
  z-index: 1;
}
.div1.fly-birds-page_239d838245 .div7 .div9 .div10 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 0.55078rem;
  width: 2.82813rem;
}
.div1.fly-birds-page_239d838245 .div7 .div9 .div10 .split_text1631 {
  color: #000;
  font-size: 0.28125rem;
  line-height: 0.32031rem;
  text-align: start;
  width: 3.375rem;
}
.div1.fly-birds-page_239d838245 .div7 .div9 .div11 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.20313rem;
  min-height: 0.5rem;
  width: 3.43359rem;
}
.div1.fly-birds-page_239d838245 .div7 .div9 .div11 .split_text1630 {
  color: #000;
  font-size: 0.14063rem;
  line-height: 0.17969rem;
  opacity: 0.7;
  text-align: start;
  width: 3.69922rem;
}
.div1.fly-birds-page_239d838245 .div12 {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 5.16797rem;
  justify-content: flex-start;
  width: 9.99219rem;
}
.div1.fly-birds-page_239d838245 .div12 .image13 {
  height: 5.16797rem;
  width: 9.99219rem;
  z-index: 0;
}
.div1.fly-birds-page_239d838245 .div12 .div14 {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: -8.5rem;
  margin-top: -0.03125rem;
  min-height: 1.25391rem;
  width: 3.39844rem;
  z-index: 1;
}
.div1.fly-birds-page_239d838245 .div12 .div14 .div15 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 0.59375rem;
  width: 3.39844rem;
}
.div1.fly-birds-page_239d838245 .div12 .div14 .div15 .split_text1633 {
  color: #000;
  font-size: 0.28125rem;
  line-height: 0.32031rem;
  text-align: start;
  width: 3.67188rem;
}
.div1.fly-birds-page_239d838245 .div12 .div14 .div16 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.19531rem;
  min-height: 0.46484rem;
  width: 3.09375rem;
}
.div1.fly-birds-page_239d838245 .div12 .div14 .div16 .split_text1632 {
  color: #000;
  font-size: 0.14063rem;
  line-height: 0.17969rem;
  opacity: 0.7;
  text-align: start;
  width: 3.39844rem;
}
.div1.fly-birds-page_239d838245 .div17 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 10.19531rem;
  justify-content: flex-start;
  width: 10rem;
}
.div1.fly-birds-page_239d838245 .div17 .div18 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  min-height: 5.03906rem;
  padding-right: 1.68359rem;
  width: 9.99219rem;
  z-index: 0;
}
.div1.fly-birds-page_239d838245 .div17 .div18 .image19 {
  height: 5.03906rem;
  width: 9.99219rem;
  z-index: 0;
}
.div1.fly-birds-page_239d838245 .div17 .div18 .div20 {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: -4.90234rem;
  margin-top: 0.08984rem;
  min-height: 1.24609rem;
  width: 3.21875rem;
  z-index: 1;
}
.div1.fly-birds-page_239d838245 .div17 .div18 .div20 .div21 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.00391rem;
  min-height: 0.55078rem;
  width: 3.21484rem;
}
.div1.fly-birds-page_239d838245 .div17 .div18 .div20 .div21 .split_text1635 {
  color: #000;
  font-size: 0.28125rem;
  line-height: 0.32031rem;
  text-align: start;
  width: 3.67188rem;
}
.div1.fly-birds-page_239d838245 .div17 .div18 .div20 .div22 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.19922rem;
  min-height: 0.49609rem;
  width: 3.19141rem;
}
.div1.fly-birds-page_239d838245 .div17 .div18 .div20 .div22 .split_text1634 {
  color: #000;
  font-size: 0.14063rem;
  line-height: 0.17969rem;
  opacity: 0.7;
  text-align: start;
  width: 3.46875rem;
}
.div1.fly-birds-page_239d838245 .div17 .div23 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: -0.00781rem;
  min-height: 5.16406rem;
  padding-bottom: 1.0625rem;
  width: 10rem;
  z-index: 1;
}
.div1.fly-birds-page_239d838245 .div17 .div23 .image24 {
  height: 5.16406rem;
  width: 10rem;
  z-index: 0;
}
.div1.fly-birds-page_239d838245 .div17 .div23 .image25 {
  height: 1.98828rem;
  margin-left: 0.00781rem;
  margin-top: -4.22656rem;
  width: 7.04688rem;
  z-index: 1;
}
.div1.fly-birds-page_239d838245 .div17 .div23 .div26 {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: -0.81641rem;
  margin-top: -1.80859rem;
  min-height: 1.6875rem;
  width: 4.97266rem;
  z-index: 2;
}
.div1.fly-birds-page_239d838245 .div17 .div23 .div26 .div27 {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 0.15234rem;
  width: 4.00391rem;
}
.div1.fly-birds-page_239d838245 .div17 .div23 .div26 .div27 .div28 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 0.15234rem;
  width: 1.30469rem;
}
.div1.fly-birds-page_239d838245
  .div17
  .div23
  .div26
  .div27
  .div28
  .split_text1636 {
  color: #000;
  font-size: 0.14063rem;
  letter-spacing: -0.00391rem;
  line-height: 0.14063rem;
  text-align: start;
}
.div1.fly-birds-page_239d838245 .div17 .div23 .div26 .div27 .div29 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.00391rem;
  min-height: 0.08594rem;
  width: 0.58594rem;
}
.div1.fly-birds-page_239d838245
  .div17
  .div23
  .div26
  .div27
  .div29
  .split_text1637 {
  color: #000;
  font-size: 0.10938rem;
  letter-spacing: -0.00391rem;
  line-height: 0.10938rem;
  opacity: 0.7;
  text-align: start;
  width: 1rem;
}
.div1.fly-birds-page_239d838245 .div17 .div23 .div26 .div30 {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0.35938rem;
  min-height: 0.11719rem;
  width: 4.02734rem;
}
.div1.fly-birds-page_239d838245 .div17 .div23 .div26 .div30 .div31 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 0.11719rem;
  width: 0.44922rem;
}
.div1.fly-birds-page_239d838245
  .div17
  .div23
  .div26
  .div30
  .div31
  .split_text1638 {
  color: #000;
  font-size: 0.14063rem;
  letter-spacing: -0.00391rem;
  line-height: 0.14063rem;
  text-align: start;
}
.div1.fly-birds-page_239d838245 .div17 .div23 .div26 .div30 .div32 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 0.11719rem;
  width: 0.60938rem;
}
.div1.fly-birds-page_239d838245
  .div17
  .div23
  .div26
  .div30
  .div32
  .split_text1639 {
  color: #000;
  font-size: 0.10938rem;
  letter-spacing: -0.00391rem;
  line-height: 0.10938rem;
  opacity: 0.7;
  text-align: start;
}
.div1.fly-birds-page_239d838245 .div17 .div23 .div26 .div33 {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0.36328rem;
  min-height: 0.14453rem;
  width: 4.97266rem;
}
.div1.fly-birds-page_239d838245 .div17 .div23 .div26 .div33 .div34 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 0.14453rem;
  width: 1.19922rem;
}
.div1.fly-birds-page_239d838245
  .div17
  .div23
  .div26
  .div33
  .div34
  .split_text1640 {
  color: #000;
  font-size: 0.14063rem;
  letter-spacing: -0.00391rem;
  line-height: 0.14063rem;
  text-align: start;
}
.div1.fly-birds-page_239d838245 .div17 .div23 .div26 .div33 .div35 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 0.10547rem;
  width: 1.55859rem;
}
.div1.fly-birds-page_239d838245
  .div17
  .div23
  .div26
  .div33
  .div35
  .split_text1641 {
  color: #000;
  font-size: 0.10938rem;
  letter-spacing: -0.00391rem;
  line-height: 0.10938rem;
  opacity: 0.7;
  text-align: start;
}
.div1.fly-birds-page_239d838245 .div17 .div23 .div26 .div36 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 0.29688rem;
  min-height: auto;
  width: 4.6rem;
}
.div1.fly-birds-page_239d838245 .div17 .div23 .div26 .div36 .split_text1642 {
  color: #000;
  font-size: 0.10938rem;
  letter-spacing: -0.00391rem;
  line-height: 0.14063rem;
  opacity: 0.7;
  text-align: start;
}
.div1.fly-birds-page_239d838245 .div17 .div23 .div26 .div37 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: auto;
  width: 2.4375rem;
}
.div1.fly-birds-page_239d838245 .div17 .div23 .div26 .div37 .split_text1643 {
  color: #000;
  font-size: 0.10938rem;
  letter-spacing: -0.00391rem;
  line-height: 0.14063rem;
  opacity: 0.7;
  text-align: start;
  width: 4rem;
}
.div1.fly-birds-page_239d838245 .div17 .div23 .div38 {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: -0.53125rem;
  margin-top: 0.88281rem;
  min-height: 0.41406rem;
  width: 6.48438rem;
  z-index: 3;
}
.div1.fly-birds-page_239d838245 .div17 .div23 .div38 .div39 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: auto;
  width: 6.6rem;
}
.div1.fly-birds-page_239d838245 .div17 .div23 .div38 .div39 .split_text1644 {
  color: #000;
  font-size: 0.10938rem;
  letter-spacing: -0.00391rem;
  line-height: 0.14063rem;
  opacity: 0.5;
  text-align: start;
}
.div1.fly-birds-page_239d838245 .div17 .div23 .div38 .div40 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: auto;
  width: 6.48438rem;
}
.div1.fly-birds-page_239d838245
  .div17
  .div23
  .div38
  .div40
  .text-container-1590 {
  opacity: 0.5;
  text-align: start;
}
.div1.fly-birds-page_239d838245
  .div17
  .div23
  .div38
  .div40
  .text-container-1590
  .split_text1645 {
  color: #000;
  font-size: 0.10938rem;
  letter-spacing: -0.00391rem;
  line-height: 0.14063rem;
}

.hide-pc {
  display: none !important;
}

body,
html,
li,
p,
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}

body > img,
head > img,
html > img {
  display: none;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: -10;
}


.xm-text {
  display: inline-block;
  white-space: break-spaces !important;
}

.hide {
  display: none !important;
}
.xm-page-hide {
  height: 0;
  position: absolute;
}

.xm-picture .xm-img {
  width: 100%;
}
.xm-img {
  color: transparent;
}
.xm-img:not([src]),
.xm-img[src=""] {
  visibility: hidden;
}
.xm-picture {
  display: inline-flex;
}
.ae-ar .xm-text,
.eg .xm-text,
.gcc .xm-text,
.sa .xm-text,
html[data-mi-dir="rtl"] .xm-text {
  display: block;
}
.ae-ar .xm-text,
.eg .xm-text,
.gcc .xm-text,
.sa .specs-con,
.sa .xm-text,

html[data-mi-dir="rtl"] .xm-text {
  direction: rtl;
}

.section {
  background-repeat: no-repeat;
  margin-bottom: -1px;
  position: relative;
}
.xm-page-area > main,
.xm-page-area_mobile > main {
  position: relative;
  z-index: 1;
}


.kh .xm-text,
.mm .xm-text,
.th .xm-text {
  line-height: 1.5 !important;
}
.kr,
:lang(ko-KR) {
  word-break: keep-all;
} /*! normalize.css v3.0.2 | MIT License | git.io/normalize */


article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}

abbr[title] {
  border-bottom: 0.00391rem dotted;
}
b,
strong {
  font-weight: 700;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

small {
  font-size: 80%;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 0.15625rem;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, sans-serif;
  font-size: 1em;
}

legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: 700;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}

dd,
dl,
dt,
li,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}

.f-thin {
  font-weight: 100;
}
.f-extra {
  font-weight: 200;
}
.f-light {
  font-weight: 300;
}
.f-regular {
  font-weight: 400;
}
.f-medium {
  font-weight: 500;
}
.f-semi {
  font-weight: 600;
}
.f-bold {
  font-weight: 700;
}
.f-bolder {
  font-weight: 800;
}
.f-heavy {
  font-weight: 900;
}

.container {
  margin: 0 auto;
  width: 1226px;
}
main {
  display: inline-block;
  font-size: 16px;
}

