.div1.fly-birds-page_209e18e3c2 {
  align-items: flex-start;
  box-sizing: border-box;
  margin: 0 auto;
  overflow: hidden;
  z-index: 1;
}
.div1.fly-birds-page_209e18e3c2,
.div1.fly-birds-page_209e18e3c2 .div2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 22.5rem;
}
.div1.fly-birds-page_209e18e3c2 .div2 {
  align-items: center;
  height: 25.33333rem;
}
.div1.fly-birds-page_209e18e3c2 .div2 .image3 {
  height: 25.33333rem;
  width: 22.5rem;
  z-index: 0;
}
.div1.fly-birds-page_209e18e3c2 .div2 .div4 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: -20.95833rem;
  min-height: 2.75rem;
  width: 14.08333rem;
  z-index: 1;
}
.div1.fly-birds-page_209e18e3c2 .div2 .div4 .image5 {
  height: 1.1875rem;
  width: 14.08333rem;
}
.div1.fly-birds-page_209e18e3c2 .div2 .div4 .div6 {
  color: #000;
  font-size: 0.75rem;
  margin-top: 1.25rem;
  text-align: center;
}
.div1.fly-birds-page_209e18e3c2 .div7 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 31.72917rem;
  justify-content: flex-start;
  width: 22.5rem;
}
.div1.fly-birds-page_209e18e3c2 .div7 .image8 {
  height: 31.72917rem;
  width: 22.5rem;
  z-index: 0;
}
.div1.fly-birds-page_209e18e3c2 .div7 .div9 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: -0.04167rem;
  margin-top: -27.60417rem;
  min-height: 6.77083rem;
  width: 18.29167rem;
  z-index: 1;
}
.div1.fly-birds-page_209e18e3c2 .div7 .div9 .div10 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: -0.02083rem;
  min-height: 2.625rem;
  width: 13.39583rem;
}
.div1.fly-birds-page_209e18e3c2 .div7 .div9 .div10 .split_text1681 {
  color: #000;
  font-size: 1.33333rem;
  line-height: 1.54167rem;
  text-align: center;
  width: 18rem;
}
.div1.fly-birds-page_209e18e3c2 .div7 .div9 .div11 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 1.04167rem;
  min-height: 2.66667rem;
  width: 18.29167rem;
}
.div1.fly-birds-page_209e18e3c2 .div7 .div9 .div11 .split_text1680 {
  color: #000;
  font-size: 0.75rem;
  line-height: 0.95833rem;
  opacity: 0.7;
  text-align: center;
  width: 19.58333rem;
}
.div1.fly-birds-page_209e18e3c2 .div12 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 37.29167rem;
  justify-content: flex-start;
  width: 22.5rem;
  z-index: 1;
}
.div1.fly-birds-page_209e18e3c2 .div12 .image13 {
  height: 37.29167rem;
  width: 22.5rem;
  z-index: 0;
}
.div1.fly-birds-page_209e18e3c2 .div12 .div14 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: -33.14583rem;
  min-height: 5.95833rem;
  width: 18.41667rem;
  z-index: 1;
}
.div1.fly-birds-page_209e18e3c2 .div12 .div14 .div15 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: -0.02083rem;
  min-height: 2.83333rem;
  width: 16.10417rem;
}
.div1.fly-birds-page_209e18e3c2 .div12 .div14 .div15 .split_text1683 {
  color: #000;
  font-size: 1.33333rem;
  line-height: 1.54167rem;
  text-align: center;
  width: 19.58333rem;
}
.div1.fly-birds-page_209e18e3c2 .div12 .div14 .div16 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 1.04167rem;
  min-height: 1.6875rem;
  width: 18.41667rem;
}
.div1.fly-birds-page_209e18e3c2 .div12 .div14 .div16 .split_text1682 {
  color: #000;
  font-size: 0.75rem;
  line-height: 0.95833rem;
  opacity: 0.7;
  text-align: center;
  width: 19.58333rem;
}
.div1.fly-birds-page_209e18e3c2 .div17 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 34.39583rem;
  justify-content: flex-start;
  margin-top: -0.02083rem;
  width: 22.5rem;
  z-index: 2;
}
.div1.fly-birds-page_209e18e3c2 .div17 .image18 {
  height: 34.39583rem;
  width: 22.5rem;
  z-index: 0;
}
.div1.fly-birds-page_209e18e3c2 .div17 .div19 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: -0.02083rem;
  margin-top: -30.27083rem;
  min-height: 6.72917rem;
  width: 17.02083rem;
  z-index: 1;
}
.div1.fly-birds-page_209e18e3c2 .div17 .div19 .div20 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 0.04167rem;
  min-height: 2.625rem;
  width: 15.22917rem;
}
.div1.fly-birds-page_209e18e3c2 .div17 .div19 .div20 .split_text1685 {
  color: #000;
  font-size: 1.33333rem;
  line-height: 1.54167rem;
  text-align: center;
  width: 19.58333rem;
}
.div1.fly-birds-page_209e18e3c2 .div17 .div19 .div21 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 1.04167rem;
  min-height: 2.64583rem;
  width: 17.02083rem;
}
.div1.fly-birds-page_209e18e3c2 .div17 .div19 .div21 .split_text1684 {
  color: #000;
  font-size: 0.75rem;
  line-height: 0.95833rem;
  opacity: 0.7;
  text-align: center;
  width: 18.5rem;
}
.div1.fly-birds-page_209e18e3c2 .div22 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: -0.25rem;
  min-height: 38.1875rem;
  padding-bottom: 4.875rem;
  width: 22.5rem;
  z-index: 0;
}
.div1.fly-birds-page_209e18e3c2 .div22 .image23 {
  height: 38.1875rem;
  width: 22.5rem;
  z-index: 0;
}
.div1.fly-birds-page_209e18e3c2 .div22 .div24 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: -34.375rem;
  min-height: 19.3125rem;
  width: 19.58333rem;
  z-index: 2;
}
.div1.fly-birds-page_209e18e3c2 .div22 .div24 .image25 {
  height: 19.3125rem;
  width: 19.58333rem;
}
.div1.fly-birds-page_209e18e3c2 .div22 .div24 .div26 {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: -0.08333rem;
  margin-top: -17.5625rem;
  min-height: 16.14583rem;
  width: 17.75rem;
  z-index: 0;
}
.div1.fly-birds-page_209e18e3c2 .div22 .div24 .div26 .div27 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 0.64583rem;
  min-height: 0.75rem;
  width: 11.625rem;
}
.div1.fly-birds-page_209e18e3c2 .div22 .div24 .div26 .div27 .div28 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 0.75rem;
  width: 6.41667rem;
}
.div1.fly-birds-page_209e18e3c2
  .div22
  .div24
  .div26
  .div27
  .div28
  .split_text1670 {
  color: #000;
  font-size: 0.75rem;
  letter-spacing: -0.02083rem;
  line-height: 0.95833rem;
  text-align: start;
  width: 6.83333rem;
}
.div1.fly-birds-page_209e18e3c2 .div22 .div24 .div26 .div27 .div29 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1.89583rem;
  margin-top: -0.04167rem;
  min-height: 0.5rem;
  width: 3.3125rem;
}
.div1.fly-birds-page_209e18e3c2
  .div22
  .div24
  .div26
  .div27
  .div29
  .split_text1671 {
  color: #000;
  font-size: 0.625rem;
  letter-spacing: -0.02083rem;
  line-height: 0.83333rem;
  opacity: 0.8;
  text-align: start;
  width: 6rem;
}
.div1.fly-birds-page_209e18e3c2 .div22 .div24 .div26 .div30 {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 0.64583rem;
  margin-top: 3.375rem;
  min-height: 0.6875rem;
  width: 11.70833rem;
}
.div1.fly-birds-page_209e18e3c2 .div22 .div24 .div26 .div30 .div31 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -0.02083rem;
  min-height: 0.58333rem;
  width: 2.20833rem;
}
.div1.fly-birds-page_209e18e3c2
  .div22
  .div24
  .div26
  .div30
  .div31
  .split_text1672 {
  color: #000;
  font-size: 0.75rem;
  letter-spacing: -0.02083rem;
  line-height: 0.95833rem;
  text-align: start;
  width: 6.83333rem;
}
.div1.fly-birds-page_209e18e3c2 .div22 .div24 .div26 .div30 .div32 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 0.6875rem;
  width: 3.4375rem;
}
.div1.fly-birds-page_209e18e3c2
  .div22
  .div24
  .div26
  .div30
  .div32
  .text-container-1598 {
  opacity: 0.8;
  text-align: start;
  width: 6.83333rem;
}
.div1.fly-birds-page_209e18e3c2
  .div22
  .div24
  .div26
  .div30
  .div32
  .text-container-1598
  .split_text1673 {
  color: #000;
  font-size: 0.625rem;
  letter-spacing: -0.02083rem;
  line-height: 0.83333rem;
}
.div1.fly-birds-page_209e18e3c2 .div22 .div24 .div26 .div33 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 0.66667rem;
  margin-top: 1.95833rem;
  min-height: 0.75rem;
  width: 17.08333rem;
}
.div1.fly-birds-page_209e18e3c2 .div22 .div24 .div26 .div33 .div34 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 0.75rem;
  width: 5.875rem;
}
.div1.fly-birds-page_209e18e3c2
  .div22
  .div24
  .div26
  .div33
  .div34
  .split_text1676 {
  color: #000;
  font-size: 0.75rem;
  letter-spacing: -0.02083rem;
  line-height: 0.95833rem;
  text-align: start;
  width: 6.83333rem;
}
.div1.fly-birds-page_209e18e3c2 .div22 .div24 .div26 .div33 .div35 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 2.375rem;
  margin-top: -0.0625rem;
  min-height: 0.60417rem;
  width: 8.83333rem;
}
.div1.fly-birds-page_209e18e3c2
  .div22
  .div24
  .div26
  .div33
  .div35
  .split_text1677 {
  color: #000;
  font-size: 0.625rem;
  letter-spacing: -0.02083rem;
  line-height: 0.83333rem;
  opacity: 0.8;
  text-align: start;
  width: 8.95833rem;
}
.div1.fly-birds-page_209e18e3c2 .div22 .div24 .div26 .div36 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 2.91667rem;
  min-height: auto;
  width: 16.95833rem;
}
.div1.fly-birds-page_209e18e3c2
  .div22
  .div24
  .div26
  .div36
  .text-container-1593 {
  opacity: 0.5;
  text-align: start;
  width: 17.89583rem;
}
.div1.fly-birds-page_209e18e3c2
  .div22
  .div24
  .div26
  .div36
  .text-container-1593
  .split_text1664 {
  color: #000;
  font-size: 0.75rem;
  line-height: 0.95833rem;
}
.div1.fly-birds-page_209e18e3c2 .div22 .div24 .div26 .div37 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: auto;
  width: 17.6875rem;
}
.div1.fly-birds-page_209e18e3c2
  .div22
  .div24
  .div26
  .div37
  .text-container-1594 {
  opacity: 0.5;
  text-align: start;
  width: 18rem;
}
.div1.fly-birds-page_209e18e3c2
  .div22
  .div24
  .div26
  .div37
  .text-container-1594
  .split_text1667 {
  color: #000;
  font-size: 0.75rem;
  line-height: 0.95833rem;
}
.div1.fly-birds-page_209e18e3c2 .div22 .div41 {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: -0.41667rem;
  margin-top: 3rem;
  min-height: 7.625rem;
  width: 19.04167rem;
  z-index: 1;
}
.div1.fly-birds-page_209e18e3c2 .div22 .div41 .div42 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: auto;
  width: 18.125rem;
}
.div1.fly-birds-page_209e18e3c2 .div22 .div41 .div42 .text-container-1591 {
  opacity: 0.5;
  text-align: start;
  width: 19.5625rem;
}
.div1.fly-birds-page_209e18e3c2
  .div22
  .div41
  .div42
  .text-container-1591
  .split_text1648 {
  color: #000;
  font-size: 0.75rem;
  line-height: 0.875rem;
}
.div1.fly-birds-page_209e18e3c2 .div22 .div41 .div43 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: auto;
  width: 19.04167rem;
}
.div1.fly-birds-page_209e18e3c2 .div22 .div41 .div43 .text-container-1592 {
  opacity: 0.5;
  text-align: start;
  width: 19.5625rem;
}
.div1.fly-birds-page_209e18e3c2
  .div22
  .div41
  .div43
  .text-container-1592
  .split_text1653 {
  color: #000;
  font-size: 0.75rem;
  line-height: 0.875rem;
}


body,
html,
li,
p,
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}

body > img,
head > img,
html > img {
  display: none;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: -10;
}


.xm-text {
  display: inline-block;
  white-space: break-spaces !important;
}


.xm-page-hide {
  height: 0;
  position: absolute;
}

.xm-picture .xm-img {
  width: 100%;
}
.xm-img {
  color: transparent;
}
.xm-img:not([src]),
.xm-img[src=""] {
  visibility: hidden;
}
.xm-picture {
  display: inline-flex;
}
.ae-ar .xm-text,
.eg .xm-text,
.gcc .xm-text,
.sa .xm-text,
html[data-mi-dir="rtl"] .xm-text {
  display: block;
}
.ae-ar .xm-text,
.eg .xm-text,
.gcc .xm-text,
.sa .xm-text,
html[data-mi-dir="rtl"] .xm-text {
  direction: rtl;
}


.section {
  background-repeat: no-repeat;
  margin-bottom: -1px;
  position: relative;
}


article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
  display: block;
}

b,
strong {
  font-weight: 700;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
  height: auto;
  vertical-align: middle;
}
form {
  margin: 0;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  outline: none;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
  resize: vertical;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td {
  vertical-align: top;
}
td,
th {
  padding: 0;
}
body,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
menu,
ol,
p,
ul {
  margin: 0;
}
menu,
ol,
ul {
  list-style: none;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}
.f-thin {
  font-weight: 100;
}
.f-extra {
  font-weight: 200;
}
.f-light {
  font-weight: 300;
}
.f-regular {
  font-weight: 400;
}
.f-medium {
  font-weight: 500;
}
.f-semi {
  font-weight: 600;
}
.f-bold {
  font-weight: 700;
}
.f-bolder {
  font-weight: 800;
}
.f-heavy {
  font-weight: 900;
}

main {
  font-size: 0.75rem;
}
